@font-face {
  font-family: 'BureauNormal';
  src: url('../fonts/BureauGrotesque-ThreeThree.woff2') format('woff2'),
  url('../fonts/BureauGrotesque-ThreeThree.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BureauBold';
  src: url('../fonts/BureauGrotesque-ThreeSeven.woff2') format('woff2'),
  url('../fonts/BureauGrotesque-ThreeSeven.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

//@font-face {
//  font-family: 'Overspray';
//  src: url('../fonts/Overspray.woff2') format('woff2'),
//  url('../fonts/Overspray.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}

